node_modules
dist
.umi
.umi-production
.umi-test
.turbopack
.wrangler
.temp
coverage
screenshot
build
.worktrees
.git
.github
.idea
.vscode
.history
*.log
npm-debug.log*
yarn-error.log
requestRecord.mock.js
